<!-- <!DOCTYPE html>
<html>
<title>My Repository</title>

<xmp theme="cerulean" style="display:none;">
<%=content%>
</xmp>

<script src="http://strapdownjs.com/v/0.2/strapdown.js"></script>
</html> -->

<!DOCTYPE html>
<html>
<title>My Documents Repository</title>

<xmp theme="cerulean" style="display:none;" toc>
<%=content%>
</xmp>

<script src="http://ndossougbe.github.io/strapdown/dist/strapdown.js"></script>
</html>
